// Nextflow configuration

manifest {
    name = 'tcga-rnaseq-biomarker-pipeline'
    author = 'Asuwin Rajaganesh'
    description = 'RNA-seq analysis for cancer biomarker discovery'
    version = '1.0.0'
    mainScript = 'main.nf'
}

params {
    counts = null
    metadata = null
    clinical = null
    outdir = 'results'
}

profiles {
    standard {
        process.executor = 'local'
    }
    
    docker {
        docker.enabled = true
        process.container = 'asuwin/tcga-rnaseq-pipeline:latest'
    }
    
    singularity {
        singularity.enabled = true
        process.container = 'docker://asuwin/tcga-rnaseq-pipeline:latest'
    }
    
    slurm {
        process.executor = 'slurm'
        process.queue = 'short'
        process.memory = '16 GB'
        process.cpus = 4
    }
}

process {
    errorStrategy = 'retry'
    maxRetries = 2
}
